name: Build

on:
    push: ~
    pull_request: ~
    workflow_dispatch: ~

jobs:
    tests:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                include:
                    # Sylius 1.14 (Symfony 6.4)
                    -   php: "8.2"
                        symfony: "6.4"
                        sylius: "~1.14.0"
                    -   php: "8.3"
                        symfony: "6.4"
                        sylius: "~1.14.0"
                    -   php: "8.4"
                        symfony: "6.4"
                        sylius: "~1.14.0"

                    # Sylius 2.0 (Symfony 7.4)
                    -   php: "8.2"
                        symfony: "7.4"
                        sylius: "~2.0.0"
                    -   php: "8.3"
                        symfony: "7.4"
                        sylius: "~2.0.0"

                    # Sylius 2.1 (Symfony 7.4)
                    -   php: "8.3"
                        symfony: "7.4"
                        sylius: "~2.1.0"
                    -   php: "8.4"
                        symfony: "7.4"
                        sylius: "~2.1.0"

                    # Sylius 2.2 (Symfony 7.4)
                    -   php: "8.4"
                        symfony: "7.4"
                        sylius: "~2.2.0"
                    -   php: "8.5"
                        symfony: "7.4"
                        sylius: "~2.2.0"
        name: "PHPUnit (PHP ${{ matrix.php }}, Symfony ${{ matrix.symfony }}, Sylius ${{ matrix.sylius }})"
        steps:
            -   uses: actions/checkout@v4

            -   name: Build test application
                uses: SyliusLabs/BuildTestAppAction@v4
                with:
                    build_type: "plugin"
                    cache_key: "${{ github.run_id }}-${{ runner.os }}-${{ hashFiles('composer.json') }}-php-${{ matrix.php }}-symfony-${{ matrix.symfony }}-sylius-${{ matrix.sylius }}-"
                    cache_restore_key: "${{ github.run_id }}-${{ runner.os }}-${{ hashFiles('composer.json') }}-php-${{ matrix.php }}-symfony-${{ matrix.symfony }}-sylius-${{ matrix.sylius }}-"
                    e2e: "yes"
                    php_version: "${{ matrix.php }}"
                    symfony_version: "${{ matrix.symfony }}"
                    sylius_version: "${{ matrix.sylius }}"
                    database: "mysql:8.4"

            -   name: Run PHPUnit
                run: vendor/bin/phpunit
