name: Build

on:
    push: ~
    pull_request: ~
    workflow_dispatch: ~

jobs:
    unit-tests:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: ["8.2", "8.3", "8.4"]
        name: "PHPUnit (PHP ${{ matrix.php }})"
        steps:
            -   uses: actions/checkout@v4

            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"
                    extensions: intl
                    coverage: none

            -   name: Get Composer cache directory
                id: composer-cache
                run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

            -   name: Cache Composer
                uses: actions/cache@v4
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-php-${{ matrix.php }}-composer-${{ hashFiles('**/composer.json') }}
                    restore-keys: |
                        ${{ runner.os }}-php-${{ matrix.php }}-composer-

            -   name: Install PHP dependencies
                run: composer install --no-interaction --no-scripts

            -   name: Run PHPUnit
                env:
                    SYLIUS_TEST_APP_BUNDLES_PATH: "tests/TestApplication/config/bundles.php"
                    DATABASE_URL: "sqlite:///tmp/telemetry_test.db"
                run: vendor/bin/phpunit
